# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Pytest
.pytest_cache/

# Build files
build/
dist/
*.egg-info/

# IDE
.vscode/

# Generated reports
reports/*.html
reports/*.pdf

# Generated chart files
reports/charts/
reports/interactive/

# Operating system
.DS_Store
Thumbs.db